.cmn_btn {
  background: linear-gradient(254.15deg, #4478F9 11.47%, #070380 86.69%), #071436;
  border-radius: 38px;
  backdrop-filter: blur(8.5px);
  padding: 10px 20px 10px 20px;
}
body {
  background-color: #030222;
}
.bghero1{
  background-image: url(../src/assets/images/png/bghero1.png);
  background-size: cover;
}
.bgstake1{
  background-image: url(../src/assets/images/png/bgstake1.png);
  background-size: cover;
}
.tokenbg1{
  background-image: url(../src/assets/images/png/tokenbg1.png);
  background-size: cover;
}
.bgactivetoken{
  background-image: url(../src/assets/images/png/bgactivetoken.png);
  background-size: cover;
}
.bgblastpadbonus{
  background-image: url(../src/assets/images/png/bgblastpadbonus.png);
  background-size: cover;
}

/* nav */
@media (max-width:1024px) {
  .mobileview {
    width: 100%;
    height: 100vh;
    background-color: #030222;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 60 !important;
    transition: all .4s linear;

  }

  .show {
    top: 0;
  }

  .hiddennav {
    top: -100%;
  }

  .navbox {
    width: 33px;
    height: 33px;
  }

  .navline {
    height: 3px;
    width: 30px;
    background-color: white;
    position: relative;

  }

  .navline::before {
    content: "";
    height: 3px;
    width: 30px;
    top: -10px;
    position: absolute;
    background-color: white;

  }

  .navline::after {
    content: "";
    height: 3px;
    width: 30px;
    position: absolute;
    top: 10px;
    background-color: white;

  }



}
@media (min-width:1200px) {
  .container{
    max-width: 1176px;
  }
  
}