@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800&display=swap');

.bg_Launch_img {
    background-image: url(./assets/images/png/LaunchYourProject_bg_Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_img_Stake {
    background-image: url(../src/assets/images/png/bg_img_Stake.png);
    background-size: cover;
    background-repeat: no-repeat;
}