@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800&display=swap');

.bg_Launch_img {
    background-image: url(./assets/images/png/LaunchYourProject_bg_Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_img_Stake {
    background-image: url(../src/assets/images/png/bg_img_Stake.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_img_faq {
    background-image: url(../src/assets/images/png/Faq_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.stakeYourToken_bg_img {
    background-image: url(../src/assets/images/png/stakeYourToken_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.add_token_btn {
    background: linear-gradient(254.15deg, rgba(68, 120, 249, 0.1) 11.47%, rgba(7, 3, 128, 0.1) 86.69%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
}

.Stake_Your_Card {
    background: rgba(67, 119, 248, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5px);
    border-radius: 15px;
}

.createToken {
    background: rgba(67, 119, 248, 0.05);
    border: 1.26982px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(83.5px);
    border-radius: 15px;
}

.bg_input {
    background: rgba(67, 119, 248, 0.1);
    border: 1.26982px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(77.5px);
    border-radius: 5px;
}

.AirDropPush {
    background: linear-gradient(254.15deg, #4478F9 11.47%, #070380 86.69%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
}

.AirDropClaim {
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 4px 23px rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
}

.SetupdropDwon {
    background: rgba(67, 119, 248, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
}