@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800&display=swap');

.bg_Launch_img {
    background-image: url(./assets/images/png/LaunchYourProject_bg_Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_img_Stake {
    background-image: url(../src/assets/images/png/bg_img_Stake.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_img_faq {
    background-image: url(../src/assets/images/png/Faq_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.stakeYourToken_bg_img {
    background-image: url(../src/assets/images/png/stakeYourToken_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.LaunchYourProject_bg_Img {
    background-image: url(../src/assets/images/png/LaunchYourProject_bg_Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.add_token_btn {
    background: linear-gradient(254.15deg, rgba(68, 120, 249, 0.1) 11.47%, rgba(7, 3, 128, 0.1) 86.69%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8.5px);
    border-radius: 32px;
}

.Stake_Your_Card {
    background: rgba(67, 119, 248, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5px);
    border-radius: 15px;
}

.createToken {
    background: rgba(67, 119, 248, 0.05);
    border: 1.26982px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(83.5px);
    border-radius: 15px;
}

.bg_input {
    background: rgba(67, 119, 248, 0.1);
    border: 1.26982px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(77.5px);
    border-radius: 5px;
}

.AirDropPush {
    background: linear-gradient(254.15deg, #4478F9 11.47%, #070380 86.69%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
    /* transition: all 500ms linear !important; */
}

.AirDropPush:hover {
    background: linear-gradient(254.15deg, #4477f900 11.47%, #fcfcff00 86.69%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 4px 23px rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
    /* transition: all 500ms linear !important; */
}

.slider_btn {
    background: linear-gradient(254.15deg, #4478F9 11.47%, #070380 86.69%);
    backdrop-filter: blur(8.5px);
    border-radius: 32px;
}

.SetupdropDwon {
    background: rgba(67, 119, 248, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
}

.Clouds_setup {
    top: 112%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.dott_para::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 24px;
    left: 4px;
    background-color: white;
    border-radius: 50%;
}

.form-select {
    display: block;
    width: 327px;
    height: 55px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    line-height: 1.5;
    background: rgba(67, 119, 248, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5px);
    border-radius: 10px;
    /* background-image: url("./assets//images/svg/accordian_open_icon.svg"); */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
}

.form-select:focus {
    box-shadow: none;
}

.blurChoose {
    position: absolute;
    width: 256px;
    height: 256px;
    left: -35px;
    bottom: 50px;
    background: #4377F8;
    filter: blur(175px);
}

.form_checkbook input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form_checkbook label {
    position: relative;
    cursor: pointer;
}

.form_checkbook label:before {
    background: rgba(67, 119, 248, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5px);
    border-radius: 5px;
    content: '';
    -webkit-appearance: none;
    background-color: #0C1137;
    width: 24px;
    height: 24px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form_checkbook input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.line_steup {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-16%, -58%);
    text-align: center;
}

.Arrow_Left {
    left: 44%;
    transform: translate(-46%, 50%);
}

.Arrow_Left_2 {
    bottom: 3%;
    left: 44%;
    transform: translate(-47%, -50%);
}

.Arrow_Right {
    top: 50%;
    left: 56%;
    transform: translate(-51%, -50%);
}



@media (max-width:1023.92px) {
    .line_steup {
        left: 47px;
    }

    .Arrow_Right {
        top: 50%;
        left: 109px;
    }

    .Arrow_Right_2 {
        top: 7%;
        left: 0;
    }

    .Arrow_Right_3 {
        bottom: 7%;
        left: 3px;
    }
}


@media (max-width:608.92px) {
    .line_steup {
        left: 8%;
    }
}

@media (max-width:575.92px) {
    .line_steup {
        left: 46px;
    }
}